run = "python3 main.py"
modules = ["python-3.11"]

[nix]
packages = ["cacert", "freetype", "glibcLocales", "grpc", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
